@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-font-smoothing: antialiased;
}

body {

  overflow-x: hidden;
}


html{

    -webkit-font-smoothing: antialiased;

}

.bod {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI';
    font-size: 25px;
 

}
p{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  label {
    color: #666;
    font-size: .875rem;
  }

.fade-in-element {
    animation-name: fade-in-element;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#topnav {
    display: flex;
    flex-direction: row;
    height: 8vh;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(253, 217, 98);
    font-family: 'Segoe UI';
}
#topnav li {
    list-style: none;
    margin: 0px;
}
.nav-links{
    z-index:50;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}
.nav-links a {   
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    z-index:50;
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Segoe UI';
    
}

#imageLogo{
    
    width:  100px;
    height: 70px;

}

.burger{
    position: relative;
    float: right;
    display: flex;
    flex-direction: column;
    margin-top:15px ;
    left:0px;
    cursor: pointer;
    margin-left: -20%;
    
}
.burger div{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px;
    transition : all 0.3s ease;
    
}
#mname {
    text-align: center;
    padding-top: 0px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}
.nav-links{
    /* remove */
    z-index:50;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    margin-top: 8vh;
    height: 100%;
    width: 20%;
    padding: 0px;
    top: 0vh;
    background-color: rgb(255, 216, 89, 0.9);
   
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
    
}
.main_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 90%;
    min-height: 50%;
}
.contet_diary{
    min-width: 100%;
    min-height: 400px;
    text-align: left;
    border:2px solid #f1a566;
}
.today{
    background-color: #ffffff;
    min-width: 70vw;
    min-height: 30vh;
    border: 0.1px solid #f1a566;
}
main{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
}

.friend{
    z-index: -1;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100%;
    height: 100%;
    border: 1px solid #f0b17d;
    position: absolute;
    top: 8vh;
}
.chat_main{
    
    margin-left:15% ;
    height: 85%;
    width: 85%;
    min-height:85%;
    max-height: 85%;
    top: 8vh;
    position: absolute;
    border: 1px solid #f1a566;
}


.all_msg{
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    min-height:80%;
    max-height: 80%
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:40px ;
    margin-bottom: 40px;
}
textarea {
    resize: none; 
    outline: none;
    overflow: auto;
    border: 1px solid #888; 
  }
.search input[type='submit']:hover{
    cursor: pointer;
}
.search input{
    display: flex;
    flex-direction: column;
    border: 1px solid #f0b17d;
    font-family: sans-serif;
    border-radius: 30px;

    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
    
}
.search input[type='submit']{
    margin-left: 1vw;
    background-color: #f1a566;
    padding-left: 20px;
    padding-right: 2vw;
    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-width: 50px;
    max-width: 30%;
}

.message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:40px ;
    background-color: rgb(253, 217, 98);
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: flex-start;
}
.form_msg{
    margin: 0px;

}

.message input[type='submit']:hover{
    cursor: pointer;
}
.message input{
    display: flex;
    flex-direction: column;
    border: 1px solid #f0b17d;
    font-family: sans-serif;
    padding-right: 20%;
    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    
}
.message input[type='submit']{
    margin-left: 1vw;
    background-color: #f1a566;
    padding-left: 20px;
    padding-right: 2vw;
    border-radius: 30px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-width: 50px;
    max-width: 30%;
}


.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
    justify-content: space-around;
}
.names{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 80%;
}
.link{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: left;
    width: 150%;
}
.list p{
    text-align: left;
}
.friend img{
    margin-bottom: -15px;
}
.friend a{
    text-decoration:none;
    color: #f0b17d;
}
.heading{
    background-color: #ffffff;
    min-width: 40vw;
    border: 0.1px solid #f1a566;
    margin-bottom: 20px;
    font-size: 18px; 
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px; 
}
.today:active{
    border: none;
}
.btn{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f1a566;
    border: 2px solid #f1a566;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}
.btn:hover{
    background-color: #f0b17d;
}
.nav-links li {
    opacity: 0;
    z-index:50;
}
h1{
    vertical-align: middle;
     text-align: center;
     color: #666;
}

.con{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
}

@keyframes fade-in-element {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes change {
    from{
        background-color: aliceblue;
    }
    to{
        background-color: rgb(37, 142, 233)
    }
}
@media only screen and (max-width:1020px) {
    
    .features p{
        width: 80%;
    }
    .friend{

        width: 40%;
    }
    .chat_main{
        margin-left:40% ;
        width: 60%;
    }
    
}
/*for mobile*/
@media only screen and (max-width: 568px) {
    .Introduction{
        background-image: none;
    }
}
    @media only screen and (max-width: 768px) {
     
        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Segoe UI';
            font-size: 14px;
            overflow-x: hidden;
            
        }
        .friend{

            width: 40%;
        }
        .chat_main{
            margin-left:40% ;
            width: 60%;
        }
        
    #topnav {
        display: flex;
        flex-direction: row;
        height: 8vh;
        
    }
    #imageLogo{
        position: static;
        
    }
   


}
@keyframes fade-in-element {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
.nav-active{
    transform: translateX(0%);
    
}

.bod-change{
    background: rgb(235, 235, 235);
}
@keyframes navLinkFade{
    
    from{
        opacity: 0;
        transform: translateX(50px);
        
    }to{
        opacity: 1;
        transform: translateX(0px);
        
    }
}
.toggle .line1{
    transform: rotate(-45deg)translate(-5px,10px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg)translate(-5px,-10px);
}
@media only screen and (max-width: 600px) {
   
}