
<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base2.css') }}">
    {% block head %}{% endblock %}
    <style>
        p{
            font-size:14px;
            font-family : 'Segoe UI';
            color : red;
        }
        .forgot{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }
        .Forgot{
            font-size: 13px;
            font-family : 'Segoe UI';
            text-decoration: none;
            margin-top: 15px;
            color: black;
            
        }
    </style>

</head>
<body class="bod">
  
<header class="top fade-in-element" id = "topnav" >
    <div class = "burger">
        <div class = "line1"></div>
        <div class = "line2"></div>
        <div class = "line3"></div>
        
    </div>
    <div class ="logo">
    <a href="/"><img src="{{ url_for('static', filename='images/Logo.png') }}" alt="" class= "Logo-Image" id = "imageLogo"></a>
    </div>
    <ul class = "nav-links" id = "nav-scroll">
       {% block content%}
       {% endblock %}
        </ul>
       
    </header>
   
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        
    </script>
      <script>
        window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
  
    // 20 is an arbitrary number here, just to make you think if you need the prevScrollpos variable:
    if (currentScrollPos > 20) {
      // I am using 'display' instead of 'top':
      document.getElementById("nav-scroll").style.display = "none";
    } else {
      document.getElementById("nav-scroll").style.display = "flex";
    }
  }
    </script>
   {% with messages = get_flashed_messages() %}
   {% if message %}
   
       Category: {{ messages[0][0] }}
       {{ messages[0][1] }}
  
   {% endif %}
  {% endwith %}
{% block body %}

{% endblock %}

</body>
</html>