{% extends 'base.html' %}

{% block head %}
<title>SecretDiary</title>
<style>
    p::selection{
        color: grey;
        background-color: rgb(247, 233, 189);
    }
</style>
{% endblock %}

{% block body %}
<div class="Introduction"><img src="{{ url_for('static', filename='images/Logo.png') }}" alt="" class="Logo-Image">
    <p>Your private, 100% customizable online Diary.
        Save your fellings privately in your secret Diaries</p>
    <a href="/login">Start Your Free Diary Now!</a>
    <div class="applink">
        <a href="/login" class="link"><img src="{{ url_for('static', filename='images/appstore.png') }}" alt=""></a>
        <a href="/login" class="link"><img src="{{ url_for('static', filename='images/google.png') }}"></a>
    </div>
</div>
<div class="features">
    <h1>What are you writing for?</h1>
    <p>Whether you’re looking for a tool to record your daily emotions and activities in a reflective journal, keep track of milestones in a food diary or pregnancy journal, or even record your dreams in a dream journal, Penzu has you covered.

        Penzu gives you all the tools you need to focus on the ideas you want to preserve, rather than the process of writing itself.</p>
        <a href="/login">Get Started</a>
</div>
<div class="features">
    <h1>Privacy is our #1 Concern</h1>
    <p>Even when carefully kept, paper journals can be read by anyone who happens upon them. Penzu keeps your journals safe with double password protection and military strength encryption so you can rest easy knowing that your entries are secure in the Penzu Vault.


    </p>
        <a href="/login">Get Started</a>
</div>
<div class="features-2">
    
    <img class="images"  alt="Secret Diaries Platform Line-up" width="828" src="{{ url_for('static', filename='images/feature_devices (1).jpg') }}">
    <div class="content"> <h1>Write from Anywhere</h1>
        <p>
            Take your Diaries wherever you go with the Secret Diaries mobile apps for iPhone, iPad, and Android phones and tablets.
    
        </p>
            <a href="/login">Get Started</a></div>
   
</div>
 <div id = "about" class="features">

     <h1>About</h1>
    <p>
        This is a website for your benefits and sharing your daily emotions and keeping it private but still having it near you you can write your hearts content in our diary and we will keep it safe and secure. Alway read what you felt or what you did last month, last week or even last year. Just keep you kindness in your personal Secret Diary.
    </p>
    <a href="/login">Start Your Diary</a></div>
 </div>  
<footer id="contact">
<div class="foot">
    <div class="foot__card">
        <h4>Social Media</h4>
          <p><a>  Youtube </a><br>
          <a>  Twitter </a><br>
          <a>  Instagram </a><br>
          <a>  FaceBook </a><br>
          <a>  LinkedIN </a><br>
        </p>
    </div>
    <div class="foot__card">
        <h4>Quick Links</h4>
        <p> Contact <br>
        BGSP <br>
        BGSP <br>
        BGSP <br>
        BGSP</p>
    </div>
    <div class="foot__card">
        <h4>Contact Us</h4>
        <p>  Contact <br>
            BGSP <br>
           BGSP <br>
           BGSP <br>
           BGSP</p>
    </div>
</div>
</footer>
<div class="info" style="background:rgb(52, 52, 52);width: 100%;height: 20px; display: flex;flex-direction: row;justify-content: center;">
    <p style="color: white;text-align: center;margin-top: 0px;">Secret Diaries created by Pushkar Sharma</p>
</div>
{% endblock %}