{% extends 'base.html' %}
{% block body %}
{% import "bootstrap/wtf.html" as wtf %}
<section class="left-section">
    
    <div id="left-form" class="form">
        <h1>Login</h1>
        <form id="formLogin" action="/logincheck" method="POST">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            
            <input type="submit" name="login-btn" class="btn" value="Login">
        </form>
        <div class="forgot"><a href="ResetPassword/reset-password.php"class="Forgot">Forgot Password?</a>
            <a href="/signup"class="Forgot">Create Account</a>
        </div>

    </div>
    
</section>


{% endblock %}