{% extends 'base_logged.html' %}
{% block content%}
{% for data in diary_content %}
    <a href="/topic/{{username}}/{{ data.tweet_id }}"> {{ data.topic[0:12] }}</a>

{%endfor%}
<a  style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none;" href="/topic/{{ username}}/all">View All Pages</a>
<a  style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none;" href="/chat">Chat</a>

<a  style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none;" href="/logout">Login Out</a>

{% endblock %}
{% block body %}
<div class="main_cont" >
    {% if one == 1%}
{% for row in diary %}
    <h3 class="topic_diary" style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none; font-size :35px ;">{{ row.topic }}</h3>
    <p class="contet_diary" style="vertical-align: middle;  color: rgb(72, 72, 72); text-decoration: none; font-size :24px ;"> {{ row.content }}</p>
{% endfor %}
{% endif %}
{% if all == 0%}
    {% for i in diary_content %}
        <h3 class="topic_diary" style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none; font-size :35px ;">{{ i.topic }}</h3>
        <p class="contet_diary" style="vertical-align: middle;  color: rgb(72, 72, 72); text-decoration: none; font-size :24px ;"> {{ i.content }}</p>
    {% endfor %}
{% endif %}
</div>
<a  style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none;" href="/dashboard">Go to today</a>

{% endblock %}