{% extends 'base_logged.html' %}
{% block content%}
<title>Topic / SecretDiaries</title>
{% endblock %}
{% block body %}
<div class="main_cont" >
    {% if one == 1%}
{% for row in diary %}
    <h3 class="topic_diary" style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none; font-size :35px ;">{{ row.topic }}</h3>
    <p class="contet_diary" style="vertical-align: middle;  color: rgb(72, 72, 72); text-decoration: none; font-size :24px ;"> {{ row.content }}</p>
{% endfor %}
{% endif %}
{% if all == 0%}
    {% for i in diary_content %}
        <h3 class="topic_diary" style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none; font-size :35px ;">{{ i.topic }}</h3>
        <p class="contet_diary" style="vertical-align: middle;  color: rgb(72, 72, 72); text-decoration: none; font-size :24px ;"> {{ i.content }}</p>
    {% endfor %}
{% endif %}
</div>
<a  style="vertical-align: middle; text-align: center; color: rgb(72, 72, 72); text-decoration: none;" href="/dashboard">Go to today</a>

{% endblock %}